/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --base-gap: 4%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0 !important;
  font-size: 24px !important;
}

code,
.line-text,
.line-number {
  font-size: 16px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: start;
}

.code-content > h1 {
  color: #fff;
}

.line {
  display: flex;
  line-height: 22px;
  background-color: none;
  transition: background-color ease-in 0.3s;
}

.line-number {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 26px !important;

  /* padding: 10px; */
  /* font-weight: 100; */
  font-size: small;
  border-right: 1px solid #fff;
}

.code-content > * {
  color: #fff;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/bckgv2.png");
  background-size: cover;
}

.main-wrapper {
  transform: scale(0.8);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--base-gap);
  padding: 40px;
  width: 900px;
  /* background-color: rgba(0, , 100, 0.705); */
  background-color: #dedede;
  height: 500px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.content {
  width: 45%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: var(--base-gap);
  padding: 3%;
}

.code-content {
  width: 65%;
  background-color: rgb(28, 24, 56) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.result-field {
  width: 100%;
  text-align: start;
  font-weight: bold;
}

.correct {
  background-color: rgba(52, 201, 36, 0.4);
  transition: background-color ease-in 0.2s;
}

.process {
  background-color: rgba(25, 118, 210, 0.4);
  transition: background-color ease-in 0.2s;
}

.error {
  background-color: rgba(176, 0, 0, 0.4);
  transition: background-color ease-in 0.2s;
}
